.itemContainer {
  margin: 20px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 300px;
  overflow: hidden;
}
.itemContainer img {
  max-width: 100%;
}
.itemContainer .content {
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.itemContainer .content p {
  padding: 10px;
  font-size: 25px;
  text-align: center;
  font-weight: 600;
}
.itemContainer .content button {
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--header-color);
  color: var(--light-color);
  font-family: bold;
  font-size: 20px;
}
